version: '3.8'

services:
  backend:
    container_name: backend
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env.local
    volumes:
      - .:/app

  db:
    image: postgres:15.3
    container_name: preselect_db
    env_file:
      - .env.local
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      
volumes:
  postgres_data: