version: '3.8'
services:
  web:
    build: .
    container_name: preselect-web
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # ช่วยเรื่อง Hot Reload ใน Windows/Mac